body {
  color: Gainsboro;
  background: #1D1D1D;
  padding: 0 2em;
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
}

h1 {
  color: White;
  font-size: 180%;
}

.invisible {
  display: none;
}

#author_paragraph {
  text-align: right;
  font-size: 80%;
  font-style: italic;
}

#cowsay {
  color: Chartreuse;
}

#cowsay pre {
  margin-top: 0px;
  font-size: 150%;
  font-weight: bold;
}

button {
  background-color: Cornsilk;
  border: none;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-size: 110%;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 20px;
}

#balloon {
  padding: 10px 30px;
  border: 5px dashed Chartreuse;
  border-radius: 20px;
  width: 500px;
}
